*{margin: 0; padding: 0;}


body {
    background: #C4C4C4;
    opacity: 0.7;
}

.escondido {
    display: none;
}

.menu {
    top: 10px;
    left: 65%;
    list-style:none;
    float:left; 
    position: absolute;
}

.menu li{
    position:relative; 
    float:left;
    width: 95px;
    height: 30px;
    text-align: center;
    margin-right: 30px;    
}

.menu li button{
    color:#333;
    text-decoration:none;
    padding:5px 10px;
    background: #FFFFFF;
    display:block;
    float:left;
    width: 95px;
    border-radius: 15px;    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border: 0px;
    transition: 0.7s;
}


.menu li button:hover {
    color:#fff; 
    background: #000000;
    box-shadow: 0 0 0 0;;
    border: 0 none;
    outline: 0;
    transition: 0.7s;
}

.menu .select {
    color:#fff; 
    background: #000000;
    box-shadow: 0 0 0 0;;
    border: 0 none;
    outline: 0;
}

.corpo {
    position: absolute;
    width: 600px;
    height: 253px;
    left: 34%;
    top: 180px;
    text-align: center;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.corpo .face {
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 42%;
    top: -90px;
    border: 10px solid #C4C4C4;

}

.corpo h1 {
    position: absolute;
    width: 363px;
    height: 41px;
    left: 21%;
    top: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    color: #000000;
}

.corpo p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.sub-name {
    position: absolute;
    width: 128px;
    height: 19px;
    left: 41%;
    top: 37px;
}

.description-name {
    position: absolute;
    width: 547px;
    height: 57px;
    left: 4%;
    top: 104px;
}

.icons {
    position: absolute;
    width: 131px;
    height: 30px;
    left: 41%;
    top: 210px;
}

.icons img {
    top: 0%;
    bottom: 0%;
    position: absolute;
}

.icon-github {
    left: 0%;
    right: 77.78%;
}

.icon-github:hover {
    top: -10px;
    transition: 0.5s;
}

.icon-gmail {
    left: 38.89%;
    right: 38.89%;
}

.icon-gmail:hover {
    top: -10px;
    transition: 0.5s;
}

.icon-linkedin {
    left: 77.78%;
    right: 0%;
}

.icon-linkedin:hover {
    top: -10px;
    transition: 0.5s;
}